/* 4.3 - Főhír megjelenítése */
.author-profile-picture {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 1rem;
}

.news-header h1 {
    margin-top: 0;
    margin-bottom: .75rem;
}

.name {
    font-weight: bold;
    padding-bottom: .25rem;
}

.publish-date {
    color: gray;
    font-size: .75rem;
    font-style: italic;
}

.news-item {
    padding: 1rem 
}

.image{
    text-align: center;
}

.images img {
  max-width: 250px;
}
/* 4.4 Oldalsó sáv */
.proposed-item h3 {
    font-size: 1rem;
    margin: 0 0 .5rem 0;
}

.proposed-item:not(:last-child) {
  border-bottom: 1px solid #cccccc;
  
  margin-bottom: 1rem;
}


/* 4.4 - IMSc */
